@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  color: #f8fa84;
  background-color: #f5f256;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #209e69;
  z-index: 1000;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #DA4167;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 10%;
}

.triangle-up {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #eb5523;
      position: absolute;
      right: 20%;
      bottom: 10%;
    }

 .pentagon {
      width: 54px;
      box-sizing: content-box;
      border-width: 50px 18px 0;
      border-style: solid;
      border-color: #114B5F transparent;
      position: absolute;
      top: 15%;
      right: 30%;
    }
.pentagon:before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -84px;
      left: -18px;
      border-width: 0 45px 35px;
      border-style: solid;
      border-color: transparent transparent #114B5F;
    }
